/* Page setup */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: rgb(255, 65, 65);

    /* Perfect center */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Snow canvas behind everything */
#snow {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Login Box */
.LoginSect {
    width: 200px;
    padding: 20px;
    background-color: rgba(255,255,255,0.08);
    border-radius: 10px;
    backdrop-filter: blur(6px);
    text-align: center;
}

/* Inputs */
input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

/* Button */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background-color: #a3eda5;
}

/* Error */
#LoginMsg {
    color: red;
    margin-top: 10px;
    min-height: 20px;
    font-size: 14px;
}
