/* Background */
body {
    background-image: url("Img/RainAftBG.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* Apps */
#Apps {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

#Apps button {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: none;
    border-radius: 5em;
    background-size: cover;
    cursor: pointer;
}

#Google {
    background-image: url("AppIconesImg/GoogleApp.png");
}
#Youtube {
    background-image: url("AppIconesImg/YoutubeApp.png");
}
#Calculator {
    background-image: url("AppIconesImg/CalculatorApp.jpg");
}
#Notes {
    background-image: url("AppIconesImg/NotesApp.png");
}