/* Background */
body {
    margin: 0;
    overflow: hidden;

    background-image: url("Img/RainAftBG.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid black;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}