/* Background */
body {
    background-image: url("Img/RainAftBG.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.Footer {
    position: relative; /* The container must be positioned (e.g., relative) */
    bottom: 0px; /* Align to the bottom edge */
    right: 0px; /* Align to the right edge */
    width: 100%;
    height: 65px;
    border: 1px solid black;
}