/* Background */
body {
    background-image: url("Img/PublicBG.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}